extends layout.pug

block title
	title Nightlife Coordinator

block content
	input(
		type="text"
		name="term"
		autofocus
		placeholder="Location"
		id="search-term"
	)
	button(
		id="search-button"
		type="button"
	) Search

	div(id="message")
	div(id="results")