extends layout.pug

block title
	title Nightlife Coordinator

block content
	div(id="message-dialog" class="modal-dialog")
		div
			div(id="message-close-button" class="modal-close-button") X
			div(id="message")
	form(action="javascript:void(0)")
		input(
			type="text"
			name="term"
			autofocus
			placeholder="Location"
			id="search-term"
		)
		button(
			id="search-button"
			type="submit"
		) Search

	div(id="message")
	div(id="results")
	button(
		id="previous-button"
		style="display:none;"
	) Previous
	button(
		id="next-button"
		style="display:none;"
	) Next
