extends layout.pug

block title
	title Nightlife Coordinator

block content
	div(id="message-dialog" class="modal-dialog")
		div
			div(id="message-close-button" class="modal-close-button") X
			div(id="message")
	form(action="javascript:void(0)")
		input(
			type="text"
			name="term"
			autofocus
			placeholder="Location"
			id="search-term"
		)
		button(
			id="search-button"
			type="submit"
		) Search

	div(id="message")
	div(id="results")
	div(id="previous-button" display="none")
		| Previous
	div(id="next-button" display="none")
		| Next