doctype html
html
	head
		block title
		link(rel="stylesheet" type="text/css" href="/styles.css")
	body
		div(id="header-bar")
			div(
				id="page-title"
			)
				| Nightlife Coordinator
			div(
				id="login-view-button"
				style=(user ? "display: none;" : false)
				class="header-button"
			)
				| Log In
			div(
				id="logout-button"
				style=(user ? "display: inline-block;" : false)
				class="header-button"
			)
				| Log Out
			div(
				id="greeting"
				style=(user ? "display: inline-block;" : false)
			)
				| #{user}

		div(id="login-dialog" class="modal-dialog")
			div
				div(id="login-close-button" class="modal-close-button") x
				div(class="form" id="login-form")
					form(action="javascript:void(0)")
						div
							| Returning user?
						div
							input(
								type="text"
								name="username"
								placeholder="Username"
								id="login-username"
								class="dialog-input"
							)
						div
							input(
								type="password"
								name="password"
								placeholder="Password"
								id="login-password"
								class="dialog-input"
							)
						div
							input(
								type="submit"
								value="Log In"
								id="login-submit-button"
							)
						div(id="login-message")
							| &nbsp;
				div(class="form" id="register-form")
					form(action="javascript:void(0)")
						div
							| New around here?
						div
							input(
								type="text"
								name="username"
								placeholder="Username"
								id="register-username"
								class="dialog-input"
							)
						div
							input(
								type="password"
								name="password"
								placeholder="Password"
								id="register-password"
								class="dialog-input"
							)
						div
							input(
								type="password"
								name="password-verify"
								placeholder="Verify password"
								id="register-verify-password"
								class="dialog-input"
							)
						div
							input(
								type="submit"
								value="Register"
								id="register-submit-button"
							)
						div(id="register-message")
							| &nbsp;

		div(id="content")
			block content
		div(class="footer")
			p(class="footer-line") Created by 
				a(href="https://github.com/shanehughes3") Shane Hughes
			p(class="footer-line")
				a(href="https://github.com/shanehughes3/nightlife-coordinator")
					| View the source 
				| on GitHub

		script(
			type="text/javascript"
			src="/scripts.js"
		)