doctype html
html
	head
		block title
		link(rel="stylesheet" type="text/css" href="/styles.css")
	body
		div(id="header-bar")
			div(
				id="greeting"
				style=(user ? "display: inline-block;" : false)
			)
				| #{user}
			div(
				id="login-view-button"
				style=(user ? "display:none;" : false)
			)
				| Log In
			div(
				id="logout-button"
				style=(user ? "display: inline-block;" : false)
			)
				| Log Out

		div(id="login-dialog" class="modal-dialog")
			div
				div(id="login-close-button") X
				div
					form(action="javascript:void(0)")
						div
							input(
								type="text"
								name="username"
								placeholder="Username"
								id="login-username"
							)
						div
							input(
								type="password"
								name="password"
								placeholder="Password"
								id="login-password"
							)
						div
							input(
								type="submit"
								value="Log In"
								id="login-submit-button"
							)
						div(id="login-message")
				div
					form(action="javascript:void(0)")
						div
							input(
								type="text"
								name="username"
								placeholder="Username"
								id="register-username"
							)
						div
							input(
								type="password"
								name="password"
								placeholder="Password"
								id="register-password"
							)
						div
							input(
								type="password"
								name="password-verify"
								placeholder="Verify password"
								id="register-verify-password"
							)
						div
							input(
								type="submit"
								value="Register"
								id="register-submit-button"
							)
						div(id="register-message")
		block content

		script(
			type="text/javascript"
			src="/scripts.js"
		)